@import url("https://fonts.cdnfonts.com/css/antique-stories");
@import url("https://db.onlinewebfonts.com/c/51365148ec9981c18941b8596e6f88f5?family=Pragmatica+Medium");

.text-main {
    font-family: "antique stories", sans-serif;
}

.text-text {
    font-family: "Pragmatica Medium", sans-serif;
}

.btn-primary {
    background-color: #6b0001;
    border-color: #6b0001;
}

.btn-primary:hover {
    background-color: #6b0001;
    border-color: #6b0001;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    background-color: #6b0001 !important;
    border-color: #6b0001 !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #e07322;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6b0001;
    --bs-btn-hover-border-color: #6b0001;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6b0001;
    --bs-btn-active-border-color: #6b0001;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-secondary {
    background-color: #e07322 !important;
    border-color: #e07322 !important;
}
.rounded-div {
    border-radius: 20px;
}

.div-color {
    background-color: #e4ad49 !important;
}

.modal-color {
    background-color: #6b0001;
}
